@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

:root {
  --bg: #fff;
  --text: #382b22;
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/background.jpg) center/cover no-repeat;
  backdrop-filter: blur(0.9008px);
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  background: #fff;
  opacity: 0.8;
  min-height: 100vh;
  box-shadow: 0 0 10px 5px;
  text-align: center;
}

.timeLineContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeLine {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.day {
  font-size: 5rem;
}

.monthYear {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.dayOfWeek {
  padding-top: 0.5rem;
  font-size: 4.6rem;
  font-weight: bold;
}

.time {
  font-size: 4rem;
}

.title {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  padding-bottom: 1rem;
  letter-spacing: 5px;
}

.task-area {
  border: 1px solid rgba(183, 179, 179);
  margin-top: 2em;
}

.task__input {
  width: 500px;
  height: 50px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
}

button.task__btn {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 0.7rem 1.5em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.task__btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.task__btn:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}

button.task__btn:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button.task__btn:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

button.task__btn:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid rgba(183, 179, 179);
  position: relative;
}

.task-tabs div {
  padding: 1em;
  cursor: pointer;
  margin-right: 1.5em;
}

#under-line {
  background-color: lightpink;
  height: 4px;
  position: absolute;
  top: 52px;
  left: 0px;
  width: 48px;
  transition: 0.5s;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}

@media screen and (max-width: 767px) {
  .timeLineContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .timeLine {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
  }

  .day {
    font-size: 4rem;
  }

  .monthYear {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }

  .dayOfWeek {
    padding-top: 0.5rem;
    font-size: 3.5rem;
  }

  .time {
    font-size: 3rem;
  }

  .title {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .task-area {
    border: 1px solid rgba(183, 179, 179);
    margin-top: 2rem;
  }

  .task__input {
    width: 27rem;
    height: 3rem;
    font-size: 15px;
  }
  button.task__btn {
    padding: 0.5rem 1.8em;
  }
}

@media screen and (max-width: 767px) {
  .task__input {
    width: 22rem;
    height: 3rem;
    font-size: 15px;
  }
  button.task__btn {
    padding: 0.3rem 1em;
  }
}

@media screen and (max-width: 435px) {
  .time {
    font-size: 2.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .task__input {
    width: 18rem;
  }
}
